@charset "UTF-8";

.video-url {
  line-height: 1.2rem;
  padding: $pagePadding;
}

.video-detail-title {
  margin: $pagePadding;
  line-height: 1.2rem;
}

.video-detail-catname {
  color: $minorColor;
  font-size: 0.8rem;
  margin: $pagePadding;
}

.video-url {
  .play-label {
    border-left: solid 3px #CC0033;
    padding-left: 3px;
    margin-bottom: 2px;
  }
  a.play-url {
    display: block;
    word-break: break-all;
    text-decoration: underline;
    line-height: 1.2rem;
  }
}

.video-tips {
  line-height: 1.2rem;
  padding: $pagePadding;
}

.video-tips {
  .suggest {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #999999;
  }
  .qa-title {
    margin-bottom: 5px;
  }
  .q {
    line-height: 1.8rem;
  }
  .a {
    margin-bottom: 5px;
  }
  .q > label, .a > label {
    color: $primaryColor;
    font-weight: bold;
    padding-right: 2px;
  }
}

.pics {
  width: 100%;
  -webkit-filter: blur(1px);
}

.poster {
  width: 100%;
}

.video-title {
  padding: 10px 5px;
  color: #ffffff;
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  word-break: break-all;
  word-wrap: break-word;
  background: rgba(33, 33, 33, 0.2);
}

a.choice-btn-wrapper {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: solid 1px #ee162d;
  text-align: center;
  border-radius: 50%;
  background: #9B410E;
  color: #ffffff;
  font-family: Microsoft YaHei, 宋体;
}

a.download-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: solid 1px #ee162d;
  text-align: center;
  border-radius: 50%;
  background: #9B410E;
  color: #ffffff;
  font-family: Microsoft YaHei, 宋体;
}

.ppkey-panel {
  position: fixed;
  left: 0;
  right: 0;
  background: #000000;
  color: #fff;
  bottom: 0;
  display: none;
}

.ppkey-panel {
  .ppkey-wrapper {
    background: $primaryColor;
    color: #fff;
    padding: 10px;
  }

  .ppkey-code {
    background: #ffffff;
    border: none;
    padding: 0px 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
  }

  a.ppkey-done {
    color: #ffffff;
    display: inline-block;
    background: #9B410E;
    border-radius: 4px;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
  }

  a.ppkey-panel-close-btn {
    position: absolute;
    right: 10px;
    top: -20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    border-radius: 50%;
    color: #333333;
    text-align: center;
    font-family: Microsoft YaHei, 宋体;
  }
}