<!DOCTYPE html>
<html>
<head lang="en">
    {include file='public/header.html'}
</head>
<body style="background: #ffffff;">

<h3 class="video-detail-title">{$video.title}</h3>

<p class="video-detail-catname">{$video.cat_name}</p>

<div class="video-url">
    <h3 class="play-label">播放链接<span style="font-size:0.7rem;margin-left:5px;color:#999999;">(点击下面链接下载播放)</span></h3>
    <a class="play-url" href="{$video.url}">{$video.url}</a>
</div>

<div class="video-tips">
    <p class="suggest">如果播放链接无法使用，请尝试复制至对应播放器打开</p>

    <p class="qa-title">常见问题</p>

    <p class="q"><label>Q</label>如果无法播放怎么办？</p>

    <p class="a">
        <label>A</label>请首先检查手机是否安装“影音先锋”播放器

    <p class="player-cls-wrapper">
        <a class="player-cls"
           href="http://shouji.360tpcdn.com/150507/e0c5795f181d2dd8b74f670cefeab6ec/com.xfplay.play_470.apk">下载android版</a>
        <a class="player-cls" href="https://itunes.apple.com/cn/app/id721033234">下载iPhone版</a>
        <a class="player-cls" href="https://itunes.apple.com/cn/app/id721033234">下载ipad版</a>
    </p>
    
    </p>

    <p class="q"><label>Q</label>如果已确认安装有对应播放器，如何播放？</p>

    <p class="a"><label>A</label>如点击播放链接无法播放，长按“复制”本页“播放链接”内容，尝试切换至“先锋影音app”，进入“菜单”，点击“打开网址”长按输入框“粘贴”本页播放链接前往播放，可能加载会比较慢，请耐心等待。
    </p>
</div>
<!--<a href="/" class="next-btn">换</a>-->
<script>
    $(function () {

    });
</script>

{include file='public/footer.html'}
</body>
</html>