<!DOCTYPE html>
<html>
<head>
    {include file='public/header.html'}
</head>
<body>
<!--http://tool.c7sky.com/webcolor/-->
<div class="page">
    <header class="header">
        <img src="{$base_url}/res/img/logo.png" class="logo"/><span class="slogon">PaPa - 看广告得种子</span>
    </header>

    <div class="countdown">
        <p class="time"></p>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {foreach $ads as $ad }
            <a class="swiper-slide">{$ad.title}</a>
            {/foreach}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="torrent-container"></div>
</div>
<script>
    var apiBaseUrl = '{$base_url}/api/';
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        loop: true,
        autoplay: 3000,
        paginationClickable: true
    });
    $(function () {
        var seconds = 15;//s
        var countdownObj = setInterval(function () {
            $('.countdown .time').html(seconds);
            if (seconds-- == 0) {
                clearInterval(countdownObj);
                getTorrent();
            }
        }, 1000);

        function getTorrent() {
            $.ajax({
                url: apiBaseUrl + 'get_torrent',
                dataType: 'json',
                error: function () {
                    alert("error occured!!!");
                },
                success: function (data) {
                    console.log(data);
                    if (data.code == 0) {
                        var torrent = data.torrent;
                        var turl = $('#tpl-turl').tmpl(torrent);
                        turl.addClass('animated bounceInDown').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                            $(this).removeClass('animated bounceInDown')
                        });
                        $('.torrent-container').html(turl).show();
                        $('.swiper-container,.countdown').hide();
                    } else {
                        alert('种子获取失败，请重试');
                    }
                }
            });
        }
    });
</script>
{literal}
<script type="text/template" id="tpl-turl">
    <div>
        <a href="${url}">${url}</a>
    </div>
</script>
{/literal}
</body>
</html>
