<!DOCTYPE html>
<html>
<head>
    {include file='public/header.html'}
    <!--<meta name="browsermode" content="application"/>-->
</head>
<body>
<!--http://tool.c7sky.com/webcolor/-->
{include file='public/actionbar.html'}
<div class="swiper-container main-banner">
    <div class="swiper-wrapper">
        {foreach $ads as $ad }
        <div class="swiper-slide">{$ad.content}</div>
        {/foreach}
    </div>
    <div class="swiper-pagination"></div>
</div>
<ul>
    {foreach $storyList as $story }
    <li><a href="{$base_url}/api/{$story.guid}">{$story.title}</a></li>
    {/foreach}
</ul>
<ul>
    {foreach $videoList as $video }
    <li></li>
    {/foreach}
</ul>
<script>
    var apiBaseUrl = '{$base_url}/api/';
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        autoplay: 3000,
        loop: true
    });
</script>
{include file='public/footer.html'}
</body>
</html>
